//fonts
$google-font: "https://fonts.googleapis.com/css2?family=Nunito:wght@700;800&family=Quicksand&family=Ubuntu:wght@300;400;500;700&display=swap";
$prefix: prefix- !default;
$baseFontSize: 16px;
$baseFontFamily: "Ubuntu", sans-serif;
$fontFamilyNunito: "Nunito", sans-serif;
$fontFamilyQuickSand: "Quicksand", sans-serif;
$mediumFontWeight: 500;

$mobilePadding: (12px / $baseFontSize) * 1rem;
$desktopPadding: 1rem;

// Paths

$i: "../i/";
$fontsPath: "../fonts/";
$usersFilesPath: "../userfiles/";

// Colors
$black: #000000;
$white: #ffffff;
$redColor: #e63a28;
$mainColor: #222222;
$sloganColor: #000000;
$sloganBgColor: #ffeaa2;
$articleColor: #333333;
$articleBgColor: #f5f7fa;
$articleImgColor: #c4c4c4;
$borderPostMenu: #dddddd;
$bannerBgColor: #7828e6;
$borderPagColor: #eeeeee;
$borderArtColor: #cccccc;
$colorBtn: #9d9d9d;
$hoverColor: #2b5ae1;

$colors: (
  "black": $black,
  "white": $white,
) !default;
